{:paths   ["src" "target" "resources"]
 :deps    {com.taoensso/sente     {:mvn/version "1.13.1"}
           org.clojure/core.async {:mvn/version "0.4.490"}
           org.clojure/core.match {:mvn/version "0.3.0-alpha5"}}

 :aliases {:server {:extra-deps {com.troy-west/thimble-all                 {:mvn/version "0.1.11"}
                                 org.apache.kafka/kafka-streams            {:mvn/version "1.1.0"}
                                 org.apache.kafka/kafka-streams-test-utils {:mvn/version "1.1.0"}
                                 ch.qos.logback/logback-classic            {:mvn/version "1.1.8"}

                                 aleph                                     {:mvn/version "0.4.6"}
                                 clj-kdtree                                {:mvn/version "1.2.0"}
                                 metosin/reitit                            {:mvn/version "0.2.9"}
                                 metosin/reitit-ring                       {:mvn/version "0.2.9"}
                                 ring-cors                                 {:mvn/version "0.1.10"}
                                 ring                                      {:mvn/version "1.7.1"}}}

           :client {:extra-deps {com.bhauman/figwheel-main       {:mvn/version "0.1.9"}
                                 com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}

                                 rum                             {:mvn/version "0.11.3"}
                                 com.taoensso/sente              {:mvn/version "1.13.1"}
                                 org.clojure/core.async          {:mvn/version "0.4.490"}
                                 impi                            {:mvn/version "0.0.10"}

}
                    :main-opts  ["-m" "figwheel.main" "-b" "dev" "-r"]}}}
